@include aoa-bg-series($img__classes,$img__aoa,0,"center","cover","scroll");
@media all and (max-width:991px), all and (orientation:portrait){
    @include aoa-bg-series($img__classes--v,$img__aoa--v,0,"center","cover","scroll");
}
*{
    font-family: "RussoOne";
}
.box{    
    background-image: linear-gradient(#055160,black);
    border: 1px solid #277281;
    border-radius: 20px;
    opacity: 0.9;
}
.privacy{
    &-s1{
        background-position-x: right!important;
    }
}
.navbar{
    &-logo{
        height: $logo__height;
    }
}
.opacity{
    &-8{
        opacity:0.8;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link,th{
    letter-spacing: 2px;
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width:767px){
    .navbar{
        &-nav{
            backdrop-filter: blur(5px); 
            background-image: linear-gradient(#055160,black);
            border: 1px solid #277281;
            opacity: 0.9;
            padding: 10px;
        }
    }
}